<?xml version="1.0" encoding="UTF-8" ?>
<!-- MVC控制器及视图配置文件 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">


	<!-- 默认加载注解的适配器和映射器 在控制器的方法里不能单纯的使用@requestMapping了 要使用详细的路路径 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>


	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean id="S-IRVR"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/" p:suffix=".jsp" />
	<!-- 异常处理视图定义 -->
	<bean id="S-SMER"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	</bean>
	<!-- 规约所有进行扫描的类，以完成Bean创建和自动依赖注入的功能，使用依赖控制器类名字的惯例优先原则， 将URI映射到控制器 如：“/xxx/index.jspx”对应“com.ourlinc.drt.controller.XxxController.index()” -->
	<context:component-scan base-package="com.ajie.blog.controller" />
	
	<!-- 定义文件上传解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>
</beans>
